<div class="form-group">
    <div class="row">
        <!-- <div class="col-md-3">
            <img src="../../../../assets/figura_1_login.JPG" width="500" height="425">
        </div> -->
        <div class="col-md-6">
            <div class="p-5">
                <div>
                    <h1 class="h4 mb-3 text-rigth text-login" id="title">INICIAR SESIÓN</h1>
                </div>
                <form ngNativeValidate class="user">
                    <div class="form-group">
                        <h5 class="h2" id="login">USUARIO</h5>
                        <input ngModel name="nombre" type="text" maxlength="50" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <h5 class="h2" id="login">CONTRASEÑA</h5>
                        <input type="password" maxlength="50" autocomplete="off" name="password" ngModel class="form-control form-control-user" id="exampleInputPassword">
                    </div>
                    <input type="submit" id="btn-login" value="Ingresar" class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>
        <!-- <div class="col-5">
            <img src="../../../../assets/la troje.JPG" width="300" height="200">
        </div> -->
    </div>
</div>