<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar un platillo o bebida" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <div class="col-md-5">
        <button type="button" class="btn btn-danger">SALIR</button>
    </div>
</nav>

<div class="card" style="border-radius: 30px;">
    <p> CATEGORIAS PRINCIPALES </p>

    <div class="row">
        <button type="button" class="btn btn-outline-primary redondo">Postres</button>
        <button type="button" class="btn btn-outline-primary redondo">Desayunos</button>
        <button type="button" class="btn btn-outline-primary redondo">Comida</button>
        <button type="button" class="btn btn-outline-primary redondo">Cena</button>
        <button type="button" class="btn btn-outline-primary redondo">Complementos</button>
        <button type="button" class="btn btn-outline-primary redondo">Bebidas</button>
        <button type="button" class="btn btn-outline-primary redondo">Pizzas</button>
        <button type="button" class="btn btn-outline-primary redondo">Hamburgesas</button>
        <button type="button" class="btn btn-outline-primary redondo">Enchiladas</button>
        <button type="button" class="btn btn-outline-primary redondo">Extras</button>

    </div>
</div>

<section class="container-fluid">
    <div class="row ">
        <div class="col-md-3">
            <div class="card" id="card">

                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <button type="button" class="btn btn-dark center">Ordenar</button>
            </div>
        </div>
    </div>
</section>